* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 0rem !important; }

.body {
  background-color: none;
  overflow-x: hidden;
  display: flex;
  flex-direction: column; }

.fade-in {
  -webkit-animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both; }

@-webkit-keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.accordion {
  width: 93%;
  background-color: palegreen;
  border-radius: 15px;
  border: black solid 2px;
  overflow: hidden; }

.accordion-button {
  background-color: #caffca; }

.accordion-button:focus {
  border-color: green;
  background-color: palegreen;
  box-shadow: 0 0 10px 0.1rem green; }

.accordion-button:not(.collapsed) {
  color: darkgreen;
  background-color: palegreen; }

.accordion-body {
  background-color: none;
  color: darkblue; }

header {
  z-index: 3;
  position: fixed;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 7vh;
  background-color: #98fb98; }
  header .logo {
    color: darkblue;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 25px; }
    header .logo a {
      text-decoration: none;
      color: darkblue; }
    header .logo span {
      font-weight: 700;
      color: black; }
  header .nav-links {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 40%;
    height: fit-content; }
    header .nav-links li {
      list-style: none;
      transition: all 0.5s; }
      header .nav-links li a {
        padding: 5px;
        color: black;
        text-decoration: none;
        letter-spacing: 1px;
        font-size: 14px;
        font-weight: 600;
        transition: all 0.3s; }
        header .nav-links li a:hover {
          color: blue; }
      header .nav-links li:hover {
        transform: translateY(-3px); }
    header .nav-links .nav-link-active {
      border-bottom: 2px solid green; }
      header .nav-links .nav-link-active a {
        color: darkblue;
        font-weight: 600; }
  header .hamburguesa {
    display: none;
    padding: 3px;
    border: 2px solid darkblue;
    border-radius: 5px;
    padding-bottom: 0.5rem; }
    header .hamburguesa div {
      width: 20px;
      height: 3px;
      background-color: darkblue;
      margin: 5px;
      transition: all 0.3s ease; }

.main {
  background-color: #d90429;
  padding: 7vh 6vw 1vh 6vw;
  background-image: linear-gradient(to top, #dffadf, #e7fae7); }
  .main h1 {
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    padding: 0.5rem 2rem;
    color: darkblue;
    border-radius: 15px;
    -webkit-animation: gradient 15s ease infinite;
    animation: gradient 15s ease infinite;
    background-size: 300% 300%; }

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@keyframes gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }
  .main .centrarCaja {
    display: flex;
    justify-content: top;
    align-items: justify;
    flex-direction: column;
    font-size: 1.4rem; }
  .main .galeria_contenedor {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 0.5rem; }
    .main .galeria_contenedor .card img {
      border-radius: 15px;
      transition: all, 1s; }
      .main .galeria_contenedor .card img:hover {
        transform: scale(0.95, 0.95); }
  .main .newsletter {
    border: 1px solid black;
    border-radius: 15px;
    box-shadow: 2px 1px 10px rgba(0, 0, 0, 0.5); }
    .main .newsletter input {
      border: darkblue solid 1px; }
  .main .index-seccion {
    display: flex;
    flex-direction: column;
    padding: 0px 10px;
    gap: 5px;
    margin-bottom: 10px; }
    .main .index-seccion .index-secciones-encabezado {
      background-image: linear-gradient(to right, white, palegreen, white);
      text-align: center; }
      .main .index-seccion .index-secciones-encabezado h3 {
        font-weight: 600; }
    .main .index-seccion .index-secciones-descripcion {
      text-align: center;
      font-size: 1rem;
      color: darkblue; }
      .main .index-seccion .index-secciones-descripcion img {
        margin-top: 10px;
        border-radius: 10px;
        box-shadow: 2px 1px 10px rgba(0, 0, 0, 0.5);
        transition: all .4s; }
        .main .index-seccion .index-secciones-descripcion img:hover {
          transform: translateY(-5px); }
  .main .contenedor_comocomprar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .main .contenedor_comocomprar .comoComprar {
      display: flex;
      flex-direction: column;
      height: fit-content;
      border: 2px solid black;
      width: fit-content;
      border-radius: 15px;
      overflow: hidden;
      gap: 5px; }
      .main .contenedor_comocomprar .comoComprar p {
        margin-top: 0.7rem;
        line-height: 3rem; }
      .main .contenedor_comocomprar .comoComprar .comoComprar__1 {
        padding: 3vh 3vw;
        width: 80vw;
        display: flex;
        height: 20vh;
        font-size: 2rem;
        align-items: center;
        background: linear-gradient(to right top, palegreen, white);
        -webkit-animation: gradient 15s ease infinite;
        animation: gradient 15s ease infinite;
        background-size: 300% 300%; }

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@keyframes gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }
      .main .contenedor_comocomprar .comoComprar .comoComprar__2 {
        padding: 3vh 3vw;
        width: 80vw;
        display: flex;
        height: 20vh;
        font-size: 2rem;
        align-items: center;
        background: linear-gradient(to right top, paleturquoise, white);
        -webkit-animation: gradient 15s ease infinite;
        animation: gradient 15s ease infinite;
        background-size: 300% 300%; }

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@keyframes gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }
      .main .contenedor_comocomprar .comoComprar .comoComprar__3 {
        padding: 3vh 3vw;
        width: 80vw;
        display: flex;
        height: 20vh;
        font-size: 2rem;
        align-items: center;
        background: linear-gradient(to right top, plum, white);
        -webkit-animation: gradient 15s ease infinite;
        animation: gradient 15s ease infinite;
        background-size: 300% 300%; }

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@keyframes gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }
      .main .contenedor_comocomprar .comoComprar .comoComprar__4 {
        padding: 3vh 3vw;
        width: 80vw;
        display: flex;
        height: 20vh;
        font-size: 2rem;
        align-items: center;
        background: linear-gradient(to right top, palegoldenrod, white);
        -webkit-animation: gradient 15s ease infinite;
        animation: gradient 15s ease infinite;
        background-size: 300% 300%; }

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@keyframes gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }
      .main .contenedor_comocomprar .comoComprar .comoComprar__num {
        font-size: 6rem;
        text-align: center;
        margin-left: 2rem;
        margin-right: 2rem; }
  .main .botonup, .main .botonup-enviar, .main .botonup-limpiar, .main .botonup-ver {
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 15px;
    z-index: 0;
    background: #fff;
    overflow: hidden;
    border: 2px solid black;
    color: black; }
    .main .botonup:hover, .main .botonup-enviar:hover, .main .botonup-limpiar:hover, .main .botonup-ver:hover {
      color: #fff; }
    .main .botonup:hover:after, .main .botonup-enviar:hover:after, .main .botonup-limpiar:hover:after, .main .botonup-ver:hover:after {
      width: 100%; }
    .main .botonup:after, .main .botonup-enviar:after, .main .botonup-limpiar:after, .main .botonup-ver:after {
      content: "";
      position: absolute;
      z-index: -1;
      transition: all 0.3s ease;
      left: 0;
      top: 0;
      width: 0;
      height: 100%;
      background: black; }
  .main .botonup-enviar {
    border: 2px solid #84da84;
    color: #84da84; }
    .main .botonup-enviar:after {
      background: #84da84; }
  .main .botonup-limpiar {
    border: 2px solid darkblue;
    color: darkblue; }
    .main .botonup-limpiar:after {
      background: darkblue; }
  .main .botonup-ver {
    border: 2px solid #84da84;
    color: #84da84; }
    .main .botonup-ver:after {
      background: #84da84; }
  .main .img-impresora {
    border-radius: 15px; }
  .main .mapa {
    width: 100%; }
    .main .mapa iframe {
      width: 100%;
      height: 400px;
      border: 2px solid black;
      border-radius: 15px; }

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: palegreen;
  color: darkblue; }

.boton-facebook {
  background-image: linear-gradient(to top, black, #1b1b1b);
  padding: 10px;
  color: #FFF;
  border-radius: 5px;
  transition: all 0.5s; }
  .boton-facebook:hover {
    background-image: linear-gradient(to top, #0003c7, #3c70ff);
    color: #FFF; }

.boton-instagram {
  background-image: linear-gradient(to top, black, #1b1b1b);
  padding: 10px;
  color: #FFF;
  border-radius: 5px;
  transition: all 0.5s; }
  .boton-instagram:hover {
    background-image: linear-gradient(to top right, #ffa600, #8c00ff);
    color: #FFF; }

.boton-whatsapp {
  background-image: linear-gradient(to top, black, #1b1b1b);
  padding: 10px;
  color: #FFF;
  border-radius: 5px;
  transition: all 0.5s; }
  .boton-whatsapp:hover {
    background-image: linear-gradient(to top, #0c9200, #28ff68);
    color: #FFF; }

.boton-twitter {
  background-image: linear-gradient(to top, black, #1b1b1b);
  padding: 10px;
  color: #FFF;
  border-radius: 5px;
  transition: all 0.5s; }
  .boton-twitter:hover {
    background-image: linear-gradient(to top, #007bac, #15d0ff);
    color: #FFF; }

.boton-email {
  background-image: linear-gradient(to top, black, #1b1b1b);
  padding: 10px;
  color: #FFF;
  border-radius: 5px;
  transition: all 0.5s; }
  .boton-email:hover {
    background-image: linear-gradient(to top, #ff0055, #3b2668);
    color: #FFF; }

@media screen and (max-width: 768px) {
  header .logo {
    font-size: 22px; }
  header .nav-links {
    padding-bottom: 20%;
    position: absolute;
    right: 0px;
    height: 93vh;
    top: 7vh;
    background-color: rgba(245, 245, 245, 0.75);
    backdrop-filter: blur(8px);
    display: flex;
    flex-direction: column;
    width: 100%;
    left: 100%;
    transition: left 0.6s ease-in;
    z-index: 2;
    font-weight: 600; }
    header .nav-links li {
      opacity: 0; }
      header .nav-links li a {
        font-size: 1.1rem; }
    header .nav-links .nav-contacto {
      display: block;
      text-align: center;
      opacity: 0; }
  header .hamburguesa {
    display: block;
    cursor: pointer; }
  header .nav-active {
    left: calc(0%); }
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px); }
    to {
      opacity: 1;
      transform: translateX(0px); } }
  header .toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px); }
  header .toggle .line2 {
    opacity: 0; }
  header .toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px); }
  .footer {
    flex-direction: column-reverse;
    text-align: center; }
    .footer p {
      font-size: 0.8rem;
      margin-top: 0.5rem; }
  .main .contenedor_comocomprar .comoComprar p {
    margin-top: 0.3rem;
    line-height: 1rem; }
  .main .contenedor_comocomprar .comoComprar .comoComprar__num {
    font-size: 2.8rem;
    text-align: center;
    margin-left: 1rem;
    margin-right: 1rem; }
  .main .contenedor_comocomprar .comoComprar .comoComprar__1, .main .contenedor_comocomprar .comoComprar .comoComprar__2, .main .contenedor_comocomprar .comoComprar .comoComprar__3, .main .contenedor_comocomprar .comoComprar .comoComprar__4 {
    height: 15vh;
    font-size: 1.2rem; }
  .main .centrarCaja {
    font-size: 1rem; }
  .main .botonup, .main .botonup-enviar, .main .botonup-limpiar, .main .botonup-ver {
    min-width: 110px;
    font-weight: 600;
    font-size: 1rem; } }

@media (min-width: 769px) and (max-width: 1200px) {
  header .nav-links {
    width: 50%; } }
