// GENERALES

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 0rem !important; 
}

.body {
    background-color: none;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

@mixin borderradius {
    border-radius: 15px;
}

@mixin cajascomocomprar {
    padding: 3vh 3vw;
    width: 80vw;
    display: flex;
    height: 20vh;
    font-size: 2rem;
    align-items: center;
}

//MAIN 
$color_azul: darkblue;
$color_verde: rgb(132, 218, 132);
$titulo_deg: linear-gradient(to top, rgb(223, 250, 223), rgb(231, 250, 231));

//PREGUNTAS GRADIENTES
$deg_comprar_1: linear-gradient(to right top, palegreen, white);
$deg_comprar_2: linear-gradient(to right top, paleturquoise, white);
$deg_comprar_3: linear-gradient(to right top, plum, white);
$deg_comprar_4: linear-gradient(to right top, palegoldenrod, white);

@mixin animacionfondocajas {
    -webkit-animation: gradient 15s ease infinite;
    animation: gradient 15s ease infinite;
    background-size: 300% 300%;
    @-webkit-keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
}

// FOOTER
$fondo_facebook: linear-gradient(to top, rgb(0, 3, 199), rgb(60, 112, 255));
$fondo_instagram: linear-gradient(to top right, rgb(255, 166, 0), rgb(140, 0, 255));
$fondo_whatsapp: linear-gradient(to top, rgb(12, 146, 0), rgb(40, 255, 104));
$fondo_twitter: linear-gradient(to top, rgb(0, 123, 172), rgb(21, 208, 255));
$fondo_email: linear-gradient(to top, rgb(255, 0, 85), rgb(59, 38, 104));

//ANIMACIONES

//animacion logo

.fade-in {
	-webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes fade-in {
    0% {
    opacity: 0;
    }
    100% {
    opacity: 1;
    }
}
@keyframes fade-in {
    0% {
    opacity: 0;
    }
    100% {
    opacity: 1;
    }
}


// Acordion preguntas frecuentes
.accordion {
    width: 93%;
    background-color: palegreen;
    border-radius: 15px;
    border: black solid 2px;
    overflow: hidden;
}

.accordion-button {
    background-color: rgb(202, 255, 202);
}

.accordion-button:focus {
    border-color: green;
    background-color: palegreen;
    box-shadow: 0 0 10px 0.1rem green;
}
.accordion-button:not(.collapsed) {
    color: darkgreen;
    background-color: palegreen;
}
.accordion-body {
    background-color: none;
    color: darkblue;
}