.nav_estilo {
    background-image: linear-gradient(to right, black, rgb(99, 0, 0));
    .navLogo {
        width: 70px;
        transition: all 0.4s;
        &:hover {
            width: 75px;
        }
    }
    //animacion header text
    .animate-charcter {
        text-transform: uppercase;
        background-image: linear-gradient(to left, #a6a6a6, #afafaf, #b8b8b8, #c1c1c1, #cacaca, #d1d1d1, #d9d9d9, #e0e0e0, #e8e8e8, #efefef, #f7f7f7, #ffffff, #f7f7f7, #efefef, #e8e8e8, #e0e0e0, #d9d9d9, #d1d1d1, #cacaca, #c1c1c1, #b8b8b8, #afafaf  );
        background-size: auto auto;
        background-clip: border-box;
        background-size: 300% auto;
        color: #fff;
        background-clip: text;
        text-emphasis-color: transparent;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: impresiones 20s linear infinite;
        display: inline-block;
    }
    @keyframes impresiones {
        to {
        background-position: 300% center;
        }
    }
    // fin animacion
    .nav-link:hover {
        text-shadow: 0 0 10px red;
    }
    .navbar-toggler:hover {
        box-shadow: 0 0 15px red; ;
    }
}