header {
    z-index: 3;
    position: fixed;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 7vh;
    background-color:#98fb98;
    font-family: 'Poppins', sans-serif;
    .logo {
        color: darkblue;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 25px;
        a {
            text-decoration: none;
            color: darkblue;
        }
        span {
            font-weight: 600;
            color: black;
        }
    }
    .nav-links {
        display: flex;
        align-items:center;
        justify-content: space-around;
        width: 40%;
        height: fit-content;
        li {
            list-style: none;
            a {
                color: darkblue;
                text-decoration: none;
                letter-spacing: 1px;
                font-size: 14px;
            }
        }
        .nav-contacto {
            font-size: 10px;
            display: none;
        }
    }
    .hamburguesa {
        display: none;
        padding: 3px;
        border: 2px solid darkblue;
        border-radius: 5px;
        padding-bottom: 0.5rem;
        div{
            width: 20px;
            height: 3px;
            background-color: darkblue;
            margin: 5px;
            transition: all 0.3s ease;
        }
    }
}


