// @media (max-width: 576px) {
//     .footer {
//         flex-direction: column-reverse;
//         text-align: center;
//         p {
//             font-size: 0.8rem;
//             margin-top: 0.5rem;
//         }
//     }
//     .main {
//         .contenedor_comocomprar {
//             .comoComprar {
//                 p {
//                     margin-top: 0.3rem;
//                     line-height: 1rem;
//                 }
//                 .comoComprar__num {
//                     font-size: 2.8rem;
//                     text-align: center;
//                     margin-left: 1rem;
//                     margin-right: 1rem;
//                 }
//                 .comoComprar__1, .comoComprar__2, .comoComprar__3, .comoComprar__4 {
//                     height: 15vh;
//                     font-size: 1.2rem;
//                 }
//             }
//         }
//         .centrarCaja {
//             font-size: 1rem;
//         }
//     }
// }

@media screen and (max-width: 768px) {

    header {
        .logo {
            font-size: 22px;
        }
        .nav-links {
            padding-bottom: 20%;
            position: absolute;
            right: 0px;
            height: 93vh;
            top: 7vh;
            background-color: rgba(245, 245, 245, 0.75);
            backdrop-filter: blur(8px);
            display: flex;
            flex-direction: column;
            width: 100%;
            left: 100%;
            transition: left 0.6s ease-in;
            z-index: 2;
            font-weight: 600;
            li {
                opacity: 0;
                a {
                    font-size: 1.1rem
                }
            };
            .nav-contacto {
                display: block;
                text-align: center;
                opacity: 0;
            }
        }
        .hamburguesa {
            display: block;
            cursor: pointer;
        }
        .nav-active {
            left: calc(0%);
        }
        @keyframes navLinkFade{
            from{
                opacity: 0;
                transform: translateX(50px);
            }
            to {
                opacity: 1;
                transform: translateX(0px);
            }
        }
        .toggle .line1 {
            transform: rotate(-45deg) translate(-5px,6px);
        }        
        .toggle .line2 {
            opacity: 0;
        }
        .toggle .line3 {
            transform: rotate(45deg) translate(-5px,-6px);
        }
    }

    .footer {
        flex-direction: column-reverse;
        text-align: center;
        p {
            font-size: 0.8rem;
            margin-top: 0.5rem;
        }
    }
    .main {
        .contenedor_comocomprar {
            .comoComprar {
                p {
                    margin-top: 0.3rem;
                    line-height: 1rem;
                }
                .comoComprar__num {
                    font-size: 2.8rem;
                    text-align: center;
                    margin-left: 1rem;
                    margin-right: 1rem;
                }
                .comoComprar__1, .comoComprar__2, .comoComprar__3, .comoComprar__4 {
                    height: 15vh;
                    font-size: 1.2rem;
                }
            }
        }
        .centrarCaja {
            font-size: 1rem;
        }
        .botonup {
            min-width: 110px;
            font-weight: 600;
            font-size: 1rem;
        }
    }
}

@media (min-width:769px) and (max-width: 1200px) {
    header {
        .nav-links {
            width: 50%;
        }
    }
}    

